<!DOCTYPE html>
<html>
<head>
    <title>Faculty Information</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Faculty Information</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
            </tr>
        </thead>
        <tbody>
            {% for faculty in faculty_list %}
            <tr>
                <td>{{ faculty.id }}</td>
                <td>{{ faculty.F_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
